*, *::before, *::after{
    box-sizing: border-box;
}
html{
    font-size: 16px;
}

body{
    line-height: 1.625;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: #6f6f6f;
}
a{
    text-decoration: none;
    color: inherit;
    transition: color .3s;
}
img{
    max-width: 100%;
    height: auto;
}
.header{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.92) 15.5%,rgba(54, 54, 54, 0.5) 39.24%, rgba(28, 28, 28, 0.4)),
    url(img/eggs.jpg) center center / cover no-repeat;
    color: #fff;

}
.topbar{
    font-size: .875rem;
    text-transform: uppercase;
    text-align: center;
    padding: 18px 0px;
}
.menu-item:hover{
    color: #C89446;
}
.logo {
    margin-bottom: 15px;
}
.menu-item {
    display: inline-block;
    margin: 0 15px;
}
.menu-item:hover {
   color: #C89446;
   
}
.baseline{
    padding: 50px 0 70px 0;
    text-align: center;
}
.baseline-welcome{
    font-family: 'Pinyon Script', serif;
    color: #C89446;
    font-size: 2.2rem;
    display: block;
    line-height: 1;
}
.baseline-name{
    display: block;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-bottom: 10px;
}
.baseline-slogan{
    font-size: 1rem;
    font-weight: 300;
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.menu-button{
        border: solid 1px #C89446;
        padding: 7px 10px;
        
    }
    .menu-button:hover{
        background:#C89446;
        color: #fff;
    }
    .home-section{
        padding-top: 9px;
    }
    .container-small{
        margin: 0 auto;
        padding: 0 20px;
        max-width: 960px;
    }
    .block{
        margin-bottom: 50px;
    }
    .block-left{
        display: flex;
    }
    .title{
        
        font-size: 1.75rem;
        line-height: 1.1;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #000;
        font-weight: bold;
        margin: 1rem 0 0 0;
    }
    .title span{
        font-family: 'Pinyon Script', serif;
        color:#C89446 ;
        font-size: 2.5rem;
        display: block;
        text-transform: none;
    }
    .title::before{
        content: '';
        display: inline-block;
        width: 24px;
        height: 2px;
        background: #C89446;
        margin-bottom: 0.5rem;
    }
    .more{
        color: #C89446;
    } 
    .more:hover{
        text-decoration: underline;
    }
    .more::after{
        content: ' >';
    } 
   
    .block-img {
        max-width: 350px;
        margin: 0 auto;
        border: solid 1px #C89446;}

    .block-img img{
        display: block;
    }
    .block-centered{
        text-align: center;
    }

@media only screen and (min-width: 600px){
    html{
        font-size: 16px;
    }
    body{
        
        background:linear-gradient(to top, rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url(screenshot.png) top center no-repeat;
    }
    .header{
        
        
    }
    .logo{
        margin-bottom: 0;
    }
    .topbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1400px;
        margin: 0 auto;
    }
    
    .baseline{
        padding: 138px 0 224px;
    }
    .baseline-slogan{
        font-size: 1.5rem;
        }
    .baseline-name{
        font-size: 4.375rem;
        letter-spacing: 12px;
        
        padding-top: 22px;
    }
    .menu-button{
        margin-top: 0;
        margin-right: 0;
    }
    
}
@media only screen and (min-width:960px){
    .block{
        margin-bottom: 100px;
    }
    .block-left, .block-right{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .block-img img{
        position: relative;
        z-index: 1;
    }

    .block-img {
        border: none;
        position: relative;
    }
.block-left .block-boby, .block-right .block-boby{
width: 445px;
flex: none;

}
    
   .block-img::before{
        content: '';
        display: block;
        border: solid 1px #C89446;
        position: absolute;
        top: -30px;
        left: -30px;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
    .block-right .block-img::before{
        left: auto;
        right: -30px;
    }
    .block-left .block-img{
        margin-left: 30px;
}
    .block-right .block-img{
       margin-right: 30px;
}

    .block-left .block-boby{
        margin-left: 20px;
    }
    .block-right .block-boby{
        margin-right: 20px;
        order: -1;
    }

    .title{
        margin-bottom: 1.2rem;
    }

    .title::before{
        margin-bottom: 10px;
    }
    .more{
        display: block;
        margin-top: 1.3rem;
    }
    .home-section{
        background: 
        top 95px right 0px url(img/oranges.jpg) no-repeat,
        top 640px left 0px url(img/spices.jpg) no-repeat;
    }


}